$white: #ffffff;
$black: #000000;
$red: #ff0000;
$blue: #0c77bb;
$green: #71c838;

$background: #e5e5e5;
$label: #999999;
$boxBgColor: #eaeaea;
$boxTextColor: #404040;
$headingGrey: #666666;
$line: #e5e4e4;
$checkbox: #7e7e7e;
