@import-normalize;

body {
  margin: 0;
  font-family: "Arial", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

button {
  border: none;
}
